<div id="<%= dom_id friend %>">
  <tr>
    <th>
      <%= friend.first_name %>
    </th>
    <th>
      <%= friend.last_name %>
    </th>
    <th>
      <%= friend.email_address %>
    </th>
    <th>
      <%= friend.phone_number %>
    </th>
    <th>
      <%= friend.twitter %>
    </th>
    <th>
      <%= link_to "Show this friend", friend %>
    </th>
</tr>
</div>
